<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- https://mybatis.org/mybatis-3/configuration.html#settings -->
    <settings>
        <setting name="logImpl" value="SLF4J"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <typeAliases>
        <typeAlias alias="Award" type="com.andyadc.marketing.infrastructure.persistence.entity.Award"/>
        <typeAlias alias="Strategy" type="com.andyadc.marketing.infrastructure.persistence.entity.Strategy"/>
        <typeAlias alias="StrategyAward" type="com.andyadc.marketing.infrastructure.persistence.entity.StrategyAward"/>
        <typeAlias alias="StrategyRule" type="com.andyadc.marketing.infrastructure.persistence.entity.StrategyRule"/>
    </typeAliases>

</configuration>
