<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- https://mybatis.org/mybatis-3/configuration.html#settings -->
	<settings>
		<setting name="logImpl" value="SLF4J"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="cacheEnabled" value="false"/>
	</settings>

	<typeAliases>
		<typeAlias alias="Award"
				   type="com.andyadc.marketing.infrastructure.persistence.marketing.po.Award"/>
		<typeAlias alias="Strategy"
				   type="com.andyadc.marketing.infrastructure.persistence.marketing.po.Strategy"/>
		<typeAlias alias="StrategyAward"
				   type="com.andyadc.marketing.infrastructure.persistence.marketing.po.StrategyAward"/>
		<typeAlias alias="StrategyRule"
				   type="com.andyadc.marketing.infrastructure.persistence.marketing.po.StrategyRule"/>
		<typeAlias alias="RaffleActivity"
				   type="com.andyadc.marketing.infrastructure.persistence.marketing.po.RaffleActivity"/>
		<typeAlias alias="RaffleActivitySku"
				   type="com.andyadc.marketing.infrastructure.persistence.marketing.po.RaffleActivitySku"/>
		<typeAlias alias="RaffleActivityAccount"
				   type="com.andyadc.marketing.infrastructure.persistence.marketing.po.RaffleActivityAccount"/>
		<typeAlias alias="RaffleActivityAccountFlow"
				   type="com.andyadc.marketing.infrastructure.persistence.marketing.po.RaffleActivityAccountFlow"/>
		<typeAlias alias="RaffleActivityCount"
				   type="com.andyadc.marketing.infrastructure.persistence.marketing.po.RaffleActivityCount"/>
		<typeAlias alias="RaffleActivityOrder"
				   type="com.andyadc.marketing.infrastructure.persistence.marketing.po.RaffleActivityOrder"/>
		<typeAlias alias="RuleTree"
				   type="com.andyadc.marketing.infrastructure.persistence.marketing.po.RuleTree"/>
		<typeAlias alias="RuleTreeNode"
				   type="com.andyadc.marketing.infrastructure.persistence.marketing.po.RuleTreeNode"/>
		<typeAlias alias="RuleTreeNodeLine"
				   type="com.andyadc.marketing.infrastructure.persistence.marketing.po.RuleTreeNodeLine"/>

		<!-- seckill -->
		<typeAlias alias="SeckillGoods"
				   type="com.andyadc.marketing.infrastructure.persistence.seckill.po.SeckillGoods"/>
		<typeAlias alias="SeckillUser"
				   type="com.andyadc.marketing.infrastructure.persistence.seckill.po.SeckillUser"/>
		<typeAlias alias="SeckillActivity"
				   type="com.andyadc.marketing.infrastructure.persistence.seckill.po.SeckillActivity"/>
		<typeAlias alias="SeckillReservationGoods"
				   type="com.andyadc.marketing.infrastructure.persistence.seckill.po.SeckillReservationGoods"/>

	</typeAliases>

</configuration>
