<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andyadc.marketing.infrastructure.persistence.marketing.mapper.DrawActivityAccountMonthMapper">
	<resultMap id="BaseResultMap"
			   type="com.andyadc.marketing.infrastructure.persistence.marketing.po.DrawActivityAccountMonth">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="user_id" jdbcType="VARCHAR" property="userId"/>
		<result column="activity_id" jdbcType="INTEGER" property="activityId"/>
		<result column="month" jdbcType="VARCHAR" property="month"/>
		<result column="month_count" jdbcType="INTEGER" property="monthCount"/>
		<result column="month_count_surplus" jdbcType="INTEGER" property="monthCountSurplus"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, activity_id, `month`, month_count, month_count_surplus, create_time,
		update_time
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from draw_activity_account_month
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from draw_activity_account_month
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
			parameterType="com.andyadc.marketing.infrastructure.persistence.marketing.po.DrawActivityAccountMonth">
		insert into draw_activity_account_month (id, user_id, activity_id,
		`month`, month_count, month_count_surplus,
		create_time, update_time)
		values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{activityId,jdbcType=INTEGER},
		#{month,jdbcType=VARCHAR}, #{monthCount,jdbcType=INTEGER}, #{monthCountSurplus,jdbcType=INTEGER},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective"
			parameterType="com.andyadc.marketing.infrastructure.persistence.marketing.po.DrawActivityAccountMonth">
		insert into draw_activity_account_month
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="activityId != null">
				activity_id,
			</if>
			<if test="month != null">
				`month`,
			</if>
			<if test="monthCount != null">
				month_count,
			</if>
			<if test="monthCountSurplus != null">
				month_count_surplus,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="activityId != null">
				#{activityId,jdbcType=INTEGER},
			</if>
			<if test="month != null">
				#{month,jdbcType=VARCHAR},
			</if>
			<if test="monthCount != null">
				#{monthCount,jdbcType=INTEGER},
			</if>
			<if test="monthCountSurplus != null">
				#{monthCountSurplus,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
			parameterType="com.andyadc.marketing.infrastructure.persistence.marketing.po.DrawActivityAccountMonth">
		update draw_activity_account_month
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="activityId != null">
				activity_id = #{activityId,jdbcType=INTEGER},
			</if>
			<if test="month != null">
				`month` = #{month,jdbcType=VARCHAR},
			</if>
			<if test="monthCount != null">
				month_count = #{monthCount,jdbcType=INTEGER},
			</if>
			<if test="monthCountSurplus != null">
				month_count_surplus = #{monthCountSurplus,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
			parameterType="com.andyadc.marketing.infrastructure.persistence.marketing.po.DrawActivityAccountMonth">
		update draw_activity_account_month
		set user_id = #{userId,jdbcType=VARCHAR},
		activity_id = #{activityId,jdbcType=INTEGER},
		`month` = #{month,jdbcType=VARCHAR},
		month_count = #{monthCount,jdbcType=INTEGER},
		month_count_surplus = #{monthCountSurplus,jdbcType=INTEGER},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>
